[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
imutils==0.5.4
numpy==1.23.5
oauthlib==3.2.
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66
Pillow==9.3.0
streamlit==1.15.1
tensorflow

[dev-packages]

[requires]
python_version = "3.9"
